body {
    margin: 0;
}

.banner-image {
    background-image: url(/images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    color: white;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 130px;
}

.banner-text p {
    font-size: 20px;
}

.banner-text h1 {
    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.donate-btn {
    text-decoration: none;
    background-color: #ff5959;
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
}

.donate-text {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 60px;
}

.donate-text h2 {
    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.donate-text p {
    font-size: 20px;
    margin-bottom: -2%;
}

.container {
    display: flex;
    margin-left: 30%;
    /* margin-bottom: -10%; */
}

.grid-item {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.container .selected {
    background-color: #ffeeee;
    border: 2px solid #ff5959;
}

/* 
try code here about donate today */


/* Donate plan */

.donation-plan {
    display: flex;
    margin-left: 18%;
    margin-right: 18%;
    padding: 5%;
}

#food {
    background-color: rgba(79, 157, 166, 0.1);
}

#shelter {
    background-color: rgba(255, 89, 89, 0.1);
}

#education {
    background-color: rgba(255, 244, 214, 1);
}

.donation-ways {

    margin: 2%;
    padding-left: 20px;

}